a:visited, a:link, a:active {
    text-decoration: none;
}

a {
    color: #000066 !important;
}

a:hover {
    color: #0d6efd !important;
}

.full-article:hover {
    text-decoration: none;
}

.article-image:hover {
    opacity: 0.5;
}

.breadcrumb {
    background: none;
}

.tab:hover {
    color: #0d6efd !important;
}